[Unit]
Description=Publish plotter.local mDNS alias
After=avahi-daemon.service
Requires=avahi-daemon.service

[Service]
Type=simple
ExecStart=/usr/bin/avahi-publish-address -a plotter.local $(hostname -I | awk '{print $1}')
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

